<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Geocoding.Providers.Google.GoogleSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Geocoding.Providers.Google.GoogleSettings>
            <setting name="ApiKey" serializeAs="String">
            </setting>
            <setting name="ForwardGeocodeUrl" serializeAs="String">
            </setting>
            <setting name="ReverseGeocodeUrl" serializeAs="String">
            </setting>
            <setting name="SensorEnabled" serializeAs="String">
            </setting>
            <setting name="Enabled" serializeAs="String">
            </setting>
            <setting name="RequestTimeout" serializeAs="String">
            </setting>
        </Geocoding.Providers.Google.GoogleSettings>
    </applicationSettings>
</configuration>